
# Anchor
.anchor
target/
node_modules/
test-ledger/
.DS_Store

# Solana keypairs (IMPORTANTE!)
*.json
!target/idl/*.json
!package.json
!tsconfig.json

# Wallet keys
id.json
.config/

# Build artifacts
*.so
